<div class="container">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
    <br>
  <%= link_to "back to Lists", lists_path, class:"btn btn-primary"  %>
</div>
